{% extends 'accounts/layout/page.html' %}

{% load i18n %}

{% load app_filters %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
<style>
        .card1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    margin-bottom:15px;
    background-color: #b9dcf4;
}
        .card2{
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    margin-bottom:15px;
    background-color: #CAF4B9;
        }

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px 30px;
}
</style>
</head>
<body>
{% csrf_token %}
<div class="jumbotron-fluid">

    <div class="row">
{% for project in projects %}
    {% if number|remainder:forloop.counter0 == 0 %}
    <div class="col-sm-10">
    <a href="{% url 'project_indiv' %}?project_id={{ project.project_id }}" style="color: black">
    <div class ="card1">
        <div class="container" style="text-align: center">
            <h3>{{ project.project_name }}</h3><br/>
            <p>Lead by {{ project.first_name }} {{ project.last_name }}</p>
            <p>{{ project.start_date }}  to {{ project.deadline }}</p>
            <br/>
        </div>
    </div>
    </a>

    </div>


    {% else %}

        <div class="col-sm-10">
    <a href="{% url 'project_indiv' %}?project_id={{ project.project_id }}" style="color: black">
    <div class ="card2">
        <div class="container" style="text-align: center">
            <h3>{{ project.project_name }}</h3><br/>
            <p>Lead by {{ project.first_name }} {{ project.last_name }}</p>
            <p>{{ project.start_date }}  to {{ project.deadline }}</p>
            <br/>
        </div>
    </div>
    </a>

    </div>

    {% endif %}

{% endfor %}

</div>

</div>



</body>
</html>

{% endblock %}

