{% extends 'accounts/layout/page.html' %}

{% load i18n %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
<style>
        .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    margin-bottom:15px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.container {
    padding: 2px 16px;
}
</style>
</head>
<body>
{% csrf_token %}
{% for project in projects %}
    <div class ="card">
        <div class="container">
            <h1>{{ project.project_name }}</h1><br/>
            <p>{{ project.start_date }} ---- {{ project.deadline }}</p>
            <br/>
        </div>
    </div>


{% endfor %}

</body>
</html>

{% endblock %}

