{% extends 'accounts/layout/page.html' %}

{% load i18n %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
<style>
        .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    margin-bottom:15px;
    background-color: lightcyan;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
body{
    background-color: lightgray;
}

.container {
    padding: 2px 16px;
}
</style>
</head>
<body>
{% csrf_token %}
<div class="jumbotron-fluid">

    <div class="row">
{% for project in projects %}
    <div class="col-sm-12">
    <a href="{% url 'project_indiv' %}?project_id={{ project.project_id }}" style="color: black">
    <div class ="card">
        <div class="container" style="text-align: center">
            <h3>{{ project.project_name }}</h3><br/>
            <p>Project Leader: {{ project.first_name }} {{ project.last_name }}</p>
            <p>{{ project.start_date }}  to {{ project.deadline }}</p>
            <br/>
        </div>
    </div>
    </a>

    </div>

{% endfor %}

</div>

</div>



</body>
</html>

{% endblock %}

