{% extends 'accounts/layout/page.html' %}

{% load i18n %}

{% block content %}
    <head>
    <style>
        .space{
            margin-left: 20px;
        }
        .sub{
            margin-top: 10px;
        }
        td{
            padding-right: 10px;
        }
        .split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
    border: black;

}

.right {
  background-color: lightcyan;

}
        .content{
            margin-top: 30px;
            background: rgba(222,222,222,1);;
        }
    </style>
        <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $("#change").click(function () {
                let params = (new URL(document.location)).searchParams;
                let id = params.get("project_id");
                var name = JSON.stringify($("#name").val());
                var start = JSON.stringify($("#start").val());
                var end = JSON.stringify($("#end").val());
                $.post('/projects/individual',{name:name,start:start,end:end,id:id},function (result) {
                    alert("Changes Made Succesfully");
                    window.location.href = "{% url 'projects' %}"

                });
            });
        });
    </script>
    </head>
    {% csrf_token %}

    <body>
    <div class="content row">
<div class="col-lg-6 left">
{#    <div class="row">#}
{#        Project Name: <label id="name" class="space" type="text" width="100%" value="{{ data.project_name }}"> {{ data.project_name }}#}
{#    </div>#}
{#    <div class="row">#}
{#        Start Date: <label id="start" class="space" type="text" width="100%" value="{{ data.start_date }}"> {{ data.start_date }}#}
{#    </div>#}
{#    <div class="row">#}
{#        Deadline: <label id="end" class="space" type="text" width="100%" value="{{ data.deadline }}"> {{ data.deadline }}#}
{#    </div>#}
{#    <div class="row sub">#}
{#        <button type="submit" id="change" class="btn btn-primary">Change</button>#}
{#    </div>#}
    <h1>{{ data.project_name }}</h1><br/>
    <p>
        {{ data.description }}
    </p>
    <p>
    <h4>Project Cost:</h4> Rs. {{data.cost  }}
    </p>

    </div>
    <div class="col-lg-6 right">
    <h1>People Working on the Project</h1><br/>
        <table class="border">
        <tr class="border">
            <th class="border">
                Employee Name
            </th>
            <th class="border">
                Role
            </th>
        </tr>
            {% for res in roles %}
                <tr class="border">
                <td class="border">{{ res.first_name }} {{ res.last_name }}</td>
                <td class="border"> {{ res.role }}</td>
                </tr>

            {% endfor %}
        </table>

    </div>


    </div>
    </body>

{% endblock %}