{% extends 'accounts/layout/page.html' %}


{% block content %}

     <html>
        <head>
            <link href="http://codepen.io/edbond88/pen/CcgvA.css" media="screen" rel="stylesheet" type="text/css" />
            <style>
                .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
                .body{
                    background-color: rgba(222,222,222,1);
                }
                .right {
    right: 0;
    background-color: red;
}
.left {
    left: 0;
    background-color: #111;
}
            </style>
        </head>

        <body>
        <div class="split">
          <h1>Reminders for you!</h1>

          {% for i in result %}
            <aside class="note-wrap note-white">
              <li>{{ i.description }}</li>
            </aside>
          {% endfor %}

        <form method='POST' action=''>{% csrf_token %}
            {{ form.as_p }}
            <input type='submit' value='Add note'>
        </form>

        </div>
        </body>
    </html>


{% endblock %}