<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>

<style>
    .container{
        background-color: powderblue ;
        padding-right: 70px;
        padding-left: 70px;
        padding-top: 20px;
    }
</style>
<body class="container">
    <div>
        <h1 style="text-align: right">
        Customer Relationship Management.
            </h1>
        <h3 style="text-align: right">
            Helping your business just like your clients.
        </h3>
    </div>

</body>
</html>