{% extends 'accounts/layout/page.html' %}

{% load i18n %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leads</title>

     <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <script>

        var res='';


         $(document).ready(function () {

              $("#infor").hide()
         });
        
        function fetchDetails(info) {

            $("#infor").toggle();
            res ='';
            res = info.split('+');
            document.getElementById("data").innerHTML = res[0];
            document.getElementById("titl").innerHTML = res[1];
            document.getElementById("proposer").innerHTML = "Project proposed by " +  res[2] ;
            
        };


        function addProject() {


            var name = res[1];
            name = JSON.stringify(name)

            var customerID = res[3];
            customerID = JSON.stringify(customerID);


            var descript = res[0];
            descript = JSON.stringify(descript);

            var cost = res[4];
            cost = JSON.stringify(cost);


            console.log(name+customerID+descript+cost);
            $.post('/leads/',{name:name,customerID:customerID,descript:descript,cost:cost},function (result) {

                window.location.href = "{% url 'projects' %}"

            })


        }
    </script>

    <style>

        .pads{
            padding: 10px;
        }
        .theme{
            background-color: lawngreen;
            border-radius: 12px;
        }

        .textheader{

            padding-top: 20px;
            padding-bottom: 20px;
        }
    </style>
</head>


<body>
    <div class="row">
        <div class="col-lg-6">
            <h3>My Leads</h3><br/>
    <table class="border pads">
        <tr class="border">
            <th class="border pads">
                Customer Name
            </th>
            <th class="border pads">
                Proposed Project Info
            </th>
            <th class="border pads">
                Time Required
            </th>
            <th class="border pads">
                Cost Proposed
            </th>
            <th class="border pads">
                Actions
            </th>
        </tr>
        {% for i in leads %}
            <tr class="border pads ">
                <td class="border pads">
                    {{ i.customer_name }}
                </td>
                <td class="border pads">
                    {{ i.proposed_project_info }}
                </td>
                <td class="border pads ">
                    {{ i.time_required }}
                </td>
                <td class="border pads">
                    {{ i.cost }}
                </td>

                <td class="border pads"><button class="btn btn-default theme" onclick="fetchDetails('{{ i.info }}'+'+'+'{{ i.proposed_project_info }}'+'+'+ '{{ i.customer_name }}'+'+'+'{{ i.customer_id }}'+'+'+{{ i.cost }});">Get Details</button></td>

            </tr>
        {% endfor %}
    </table>
        </div>


    <div class="col-lg-6 " id="infor">


        {% csrf_token %}
        <h2 id="titl" class="textheader"></h2>
         <h4 id="proposer" class="textheader"></h4>
        <p id="data" style="font-family: 'Lato';"></p>

        <button class="btn btn-default theme" onclick="addProject()">
            Add as project
        </button>


    </div>

    </div>
</body>
</html>

{% endblock %}