    {% extends 'accounts/layout/page.html' %}

    {% load i18n %}

    {% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Customer Support</title>

        <style>
            .theme{
                background-color: lawngreen;
                border-radius: 12px;
                 padding-right: 10px;
                margin-left: 10px;
            }

            .pads{
                padding-top: 10px;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 10px;
            }

            .pads1{

                padding-left: 10px;

            }


            table,th,tr{
                 padding-top: 10px;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 10px;


            }
        </style>

        <script>


             function getBills(identity) {

                 var printtag = 2
                 window.location.href = "{% url 'customer' %}?printtag="+printtag+"&custid="+identity

             }

             function getComplaints(identity) {

                 var printtag = 1
                 window.location.href = "{% url 'customer' %}?printtag="+printtag+"&custid="+identity

             }

             function getChanges(identity) {

                 var printtag = 3
                 window.location.href = "{% url 'customer' %}?printtag="+printtag+"&custid="+identity

             }

             function resolve(identity) {
                var comp = document.getElementById("comp").innerText
                comp = JSON.stringify(comp)
                 var act = "resolve"
                 act = JSON.stringify(act)
                 var custid = JSON.stringify(identity)
                $.post('/customer/',{act:act,comp:comp,custid:custid},function (result) {

                    location.reload()

                })
             }

        </script>
    </head>
    <body>
        <div class="row">
            <div class="col-lg-6">
                <h3>Customer Information</h3><br/>
        <table class="border">
            <th class="border">
                Customer Name
            </th>
            <th>
                Contact
            </th>
            <th class="border" id="detail">
                Further Actions
            </th>

        {% csrf_token %}
         {% for i in customer %}
            <tr class="border">
                <td class="border pads">
                    {{ i.customer_name }}
                </td>
                <td class="border pads" >
                    {{ i.contact }}
                </td>

                <td class="border pads" id="detail">
                    <div class="row pads">
                         <button class="btn btn-default theme pads1" onclick="getComplaints({{ i.customer_id }})" >
                Complaints
            </button>
                         <button class="btn btn-default theme pads1" onclick="getBills({{ i.customer_id }})"  >
                Bills
            </button>
                         <button class="btn btn-default theme pads1" onclick="getChanges({{ i.customer_id }})" >
                Changes
                         </button>
                    </div>
                </td>
            </tr>

         {% endfor %}
        </table>
            </div>
        <div class="col-lg-6">
            {% if printtag == '1' %}
                <h3>Customer Complaints</h3><br/>
                    {% for data in data %}
                        {% if data.complaints %}
                            <p id="comp">{{ data.complaints }}</p>  <button class="theme" onclick="resolve({{ data.customer_id }})">Resolve</button>
                        {% endif %}
                    {% endfor %}
            {% else %}
                {% if printtag == '2' %}
                    <h3>Customer Bills</h3><br/>
                    {% for data in data %}
                         <div class="card" style="width:400px;background-color: #b9dcf4">
                            <div class="card-body">
                                <h4 class="card-title">Bill For {{ data.name }}</h4>
                                <p class="card-text">Amount: {{ data.amount }}<br/>Breakdown:<br/>

                                    {% for data in data.breakdown %}

                                        {{ data }}&nbsp;&nbsp;

                                    {% endfor %}

                                </p>

                            </div>

                         </div>

                        <br/>

                    {% endfor %}


                {% else %}
                        {% if printtag == '3' %}
                            <h3>Customer Changes</h3>
                            {{ data.changes }}
                        {% endif %}
                 {% endif %}
            {% endif %}

        </div>

        </div>
    </body>
    </html>

    {% endblock %}